html {
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

body {
  --color-bkgd: #eeeeee;
  --color-brdr: #666666;
  --color-ctrl: #0000000f;
  --color-ctrl-focus: #ffffffc0;
  --color-ctrl-invalid: #ff00000f;
  --color-error: #660000;
  --color-text: #222222;
  background-color: var(--color-bkgd);
  color: var(--color-text);
  font-size: 1rem;
  margin: 0;
  padding: .5rem;
  width: 21rem;
}

body.theme-dark {
  --color-bkgd: #222222;
  --color-brdr: #999999;
  --color-ctrl: #00000033;
  --color-ctrl-focus: #00000080;
  --color-ctrl-invalid: #ff000033;
  --color-error: #ff9999;
  --color-text: #dddddd;
}

body a:link, body a:visited, body a:hover, body a:active {
  color: var(--color-text);
  text-decoration: none;
}

body a:focus {
  outline: none;
  text-decoration: underline;
}

header {
  background-image: url(images/disqus_eye_48.png);
  background-position: 0 .5rem;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--color-text);
  margin: 0 0 .5rem;
  padding: 0 0 0.5rem 4rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

header p {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 .5rem;
  padding: 0;
}

header p:last-child {
  margin: 0;
}

section {
  display: table;
  margin: .5rem 0 0;
  width: 100%;
}

section:last-of-type {
  border-top: 1px dotted var(--color-text);
  padding: .5rem 0 0;
}

section a.link, section a.visited, section a.active, section a:hover {
  text-decoration: underline;
}

section h2 {
  border-bottom: 1px dotted var(--color-text);
  display: table-caption;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 .5rem;
  padding: 0 0 .5rem;
}

section p {
  display: table-row;
}

section p > span, section p > label {
  display: table-cell;
  border-bottom: .5rem solid transparent;
}

section p > span:first-child, section p > label:first-child {
  font-weight: 500;
  padding-right: 1rem;
  width: 11rem;
}

section p > span:first-child small, section p > label:first-child small {
  display: block;
  font-weight: normal;
  font-size: .857rem;
}

section p input#checkInterval {
  width: 1.25rem;
  text-align: center;
}

/* Text-like inputs */
input:not([type=checkbox]):not([type=radio]):not([type=range]), select, textarea {
  background-color: var(--color-ctrl);
  border: 0;
  border-bottom: 1px solid var(--color-brdr);
  color: var(--color-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 .25rem;
  position: relative;
  /* Keeps the input from moving when focused (bottom border gets thicker). */
}

input:not([type=checkbox]):not([type=radio]):not([type=range]):focus, select:focus, textarea:focus {
  background-color: var(--color-ctrl-focus);
  border-bottom-width: 2px;
  font-weight: 500;
  outline: 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=range]):disabled, select:disabled, textarea:disabled {
  opacity: 50%;
}

input:not([type=checkbox]):not([type=radio]):not([type=range]):invalid, select:invalid, textarea:invalid {
  background-color: var(--color-ctrl-invalid);
  border-bottom-color: var(--color-error);
  color: var(--color-error);
}

.toggle input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.toggle label {
  background: var(--color-ctrl);
  border: 0.0625rem solid var(--color-brdr);
  border-radius: 1rem;
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  position: relative;
  top: .25rem;
  width: 2rem;
  height: 1rem;
}

.toggle label::after {
  background: var(--color-ctrl);
  border: 0.0625rem solid var(--color-brdr);
  border-radius: .5rem;
  content: '';
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: .875rem;
  height: .875rem;
}

.toggle input:checked + label::after {
  background: currentColor;
  left: 100%;
  transform: translateX(-100%);
}

.toggle input:focus + label {
  background-color: var(--color-ctrl-focus);
  box-shadow: 0 0 0 0.0625rem var(--color-brdr);
}

.toggle input:disabled + label {
  cursor: not-allowed;
  opacity: 50%;
}
/*# sourceMappingURL=config.css.map */