* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.25rem;
  margin: 0;
}

body {
  --color-bkgd: #eeeeee;
  --color-brdr: #666666;
  --color-ctrl: #0000000f;
  --color-ctrl-focus: #ffffffc0;
  --color-ctrl-invalid: #ff00000f;
  --color-ctrl-on: #459cf9;
  --color-error: #660000;
  --color-text: #222222;
  --color-text-sec: #666666;
  --color-link: #459cf9;
  background-color: var(--color-bkgd);
  color: var(--color-text);
  font-size: 100%;
  margin: 0;
  padding: .5rem;
  max-width: 602px;
  width: 602px;
}

body.theme-dark {
  --color-bkgd: #222222;
  --color-brdr: #999999;
  --color-ctrl: #00000033;
  --color-ctrl-focus: #00000080;
  --color-ctrl-invalid: #ff000033;
  --color-ctrl-on: #459cf9;
  --color-error: #ff9999;
  --color-text: #dddddd;
  --color-text-sec: #999999;
  --color-link: #459cf9;
}

@media screen and (max-width: 601px) {
  body {
    min-width: 280px;
    width: auto;
  }
}

a:link, a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:focus, a:hover, a:active {
  outline: none;
  text-decoration: underline;
}

a.header-link {
  color: var(--color-text);
  text-decoration: none;
}

a.header-link header {
  background-image: url(images/disqus_eye_48.png);
  background-position: 0 .5rem;
  background-repeat: no-repeat;
  background-size: fit;
  border-bottom: 1px solid var(--color-text);
  line-height: 1.5;
  margin: 0 0 .5rem;
  padding: 0 0 .5rem 4rem;
  white-space: nowrap;
}

@media screen and (max-width: 601px) {
  a.header-link header {
    white-space: normal;
  }
}

a.header-link header h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a.header-link header p {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 .5rem;
  padding: 0;
}

a.header-link header p:last-child {
  margin: 0;
}

div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 21rem;
      grid-template-columns: 20rem 21rem;
  grid-column-gap: 1rem;
}

@media screen and (max-width: 601px) {
  div.grid {
    display: block;
  }
}

section {
  display: table;
  margin: .5rem 0 0;
  width: 100%;
}

section.noHeading {
  border-top: 1px dotted var(--color-text);
  padding: .5rem 0 0;
  margin-top: 2.4375rem;
}

@media screen and (max-width: 601px) {
  section.noHeading {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}

section a.link, section a.visited, section a.active, section a:hover {
  text-decoration: underline;
}

section > header {
  color: var(--color-text-sec);
  display: table-caption;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 .5rem;
  padding: 0;
}

section > header h2, section > header h3 {
  border-bottom: 1px dotted;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0 0 .5rem;
}

section > header p {
  color: inherit;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

section:hover header, section:focus-within header {
  color: var(--color-text);
}

section > p {
  display: table-row;
}

section > p > span, section > p > label {
  display: table-cell;
  border-bottom: .5rem solid transparent;
}

section > p > span:first-child, section > p > label:first-child {
  font-weight: 500;
  padding-right: 1rem;
  min-width: 10rem;
  white-space: nowrap;
}

section > p > span:first-child > small, section > p > label:first-child > small {
  display: block;
  font-weight: normal;
  font-size: .857rem;
  margin-top: .125rem;
  white-space: normal;
}

section > p > span:last-child, section > p > label:last-child {
  width: 9rem;
}

section > p > span.input {
  text-align: start;
  white-space: nowrap;
}

@media screen and (max-width: 601px) {
  section > p > span.input {
    white-space: normal;
  }
}

section > p input#checkInterval {
  width: 1.25rem;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.semibold {
  font-weight: 500;
}

/* Text-like inputs */
input:not([type=checkbox]):not([type=radio]):not([type=range]), select, textarea {
  background-color: var(--color-ctrl);
  border: 0;
  border-bottom: 1px solid var(--color-brdr);
  color: var(--color-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 .25rem;
  position: relative;
  /* Keeps the input from moving when focused (bottom border gets thicker). */
}

input:not([type=checkbox]):not([type=radio]):not([type=range]):focus, select:focus, textarea:focus {
  background-color: var(--color-ctrl-focus);
  border-bottom-width: 2px;
  font-weight: 500;
  outline: 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=range]):invalid, select:invalid, textarea:invalid {
  background-color: var(--color-ctrl-invalid);
  border-bottom-color: var(--color-error);
  color: var(--color-error);
}

input:not([type=checkbox]):not([type=radio]):not([type=range])::-moz-selection, select::-moz-selection, textarea::-moz-selection {
  background-color: var(--color-ctrl-on);
}

input:not([type=checkbox]):not([type=radio]):not([type=range])::selection, select::selection, textarea::selection {
  background-color: var(--color-ctrl-on);
}

/* Toggle switch (styled checkbox) input */
.input-toggle {
  --radius: 5px;
  line-height: 1.5;
}

.input-toggle > input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.input-toggle > label {
  background: var(--color-ctrl);
  border: 1px solid var(--color-brdr);
  border-radius: var(--radius);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  top: .25rem;
  width: 2rem;
  height: 1rem;
}

.input-toggle > label::after {
  background: var(--color-ctrl);
  border: 1px solid var(--color-brdr);
  border-radius: var(--radius);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1rem;
  height: 1rem;
}

.input-toggle > input:checked + label::after {
  background-color: var(--color-ctrl-on);
  left: calc(100% - 1px);
  -webkit-transform: translateX(calc(-100% + 2px));
          transform: translateX(calc(-100% + 2px));
}

.input-toggle > input:focus + label {
  background-color: var(--color-ctrl-focus);
  -webkit-box-shadow: 0 0 0 1px var(--color-ctrl-on);
          box-shadow: 0 0 0 1px var(--color-ctrl-on);
}

.input-toggle input:disabled + label {
  cursor: not-allowed;
  opacity: 50%;
  opacity: .5;
}

.input-toggle input:disabled + label::after {
  background-color: var(--color-ctrl);
}
/*# sourceMappingURL=config.css.map */