.dax-tagged {
  &:focus, &:hover {
    &::after {
      background-color: darkorchid;
      border-radius: 5px;
      color: white;
      content: "found";
      font-size: .857em;
      margin-left: 5px;
      padding: 2px 5px;
    }
  }
  &.dax-clicked {
    &:focus, &:hover {
      &::after {
        background-color: darkred;
        content: "opened";
      }
    }
  }
}
