// Light (default) theme
$theme-lite-color-bkgd: #eeeeee;
$theme-lite-color-brand: #459cf9;
$theme-lite-color-brdr: #666666;
$theme-lite-color-ctrl: #0000000f;
$theme-lite-color-ctrl-focus: #ffffffc0;
$theme-lite-color-ctrl-invalid: #ff00000f;
$theme-lite-color-error: #660000;
$theme-lite-color-text: #222222;
$theme-lite-color-text-sec: #666666;

// Dark theme
$theme-dark-color-bkgd: #222222;
$theme-dark-color-brand: #459cf9;
$theme-dark-color-brdr: #999999;
$theme-dark-color-ctrl: #00000033;
$theme-dark-color-ctrl-focus: #00000080;
$theme-dark-color-ctrl-invalid: #ff000033;
$theme-dark-color-error: #ff9999;
$theme-dark-color-text: #dddddd;
$theme-dark-color-text-sec: #999999;

// Font stack
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Mobile breakpoint
$oneRem: 14px;
$mobileBreakpoint: $oneRem * 43 - 1;
$maxWidth: $oneRem * 43;
$minWidth: $oneRem * 20;

@mixin white-space {
  white-space: nowrap;
  @media screen and (max-width: $mobileBreakpoint) {
    white-space: normal;
  }
}
* {
  box-sizing: border-box;
}
html {
  border: 0;
  font-family: $font-family;
  font-size: $oneRem;
  line-height: 1.25rem;
  margin: 0;
}
body {
  --color-bkgd: #{$theme-lite-color-bkgd};
  --color-brdr: #{$theme-lite-color-brdr};
  --color-ctrl: #{$theme-lite-color-ctrl};
  --color-ctrl-focus: #{$theme-lite-color-ctrl-focus};
  --color-ctrl-invalid: #{$theme-lite-color-ctrl-invalid};
  --color-ctrl-on: #{$theme-lite-color-brand};
  --color-error: #{$theme-lite-color-error};
  --color-text: #{$theme-lite-color-text};
  --color-text-sec: #{$theme-lite-color-text-sec};
  --color-link: #{$theme-lite-color-brand};
  &.theme-dark {
    --color-bkgd: #{$theme-dark-color-bkgd};
    --color-brdr: #{$theme-dark-color-brdr};
    --color-ctrl: #{$theme-dark-color-ctrl};
    --color-ctrl-focus: #{$theme-dark-color-ctrl-focus};
    --color-ctrl-invalid: #{$theme-dark-color-ctrl-invalid};
    --color-ctrl-on: #{$theme-dark-color-brand};
    --color-error: #{$theme-dark-color-error};
    --color-text: #{$theme-dark-color-text};
    --color-text-sec: #{$theme-dark-color-text-sec};
    --color-link: #{$theme-dark-color-brand};
  }

  background-color: var(--color-bkgd);
  color: var(--color-text);
  display: grid;
  grid-template: 
    "header header" auto
    "col-1  col-2"  auto
    "footer footer" auto
    / 1fr 1fr;
  column-gap: 1rem;
  font-size: 100%;
  margin: 0;
  padding: .5rem;
  max-width: $maxWidth;
  width: $maxWidth;

  @media screen and (max-width: $mobileBreakpoint) {
    display: block;
    min-width: $minWidth;
    width: auto;
  }
}

a:link, a:visited {
  color: var(--color-link);
  text-decoration: none;
}
a:focus, a:hover, a:active {
  outline: none;
  text-decoration: underline;
}

header, footer {
  line-height: 1.5;
  margin: 0 0 .5rem;
  padding: 0 0 .5rem;
}

header {
  background-image: url(images/disqus_eye_48.png);
  background-position: 0 .5rem;
  background-repeat: no-repeat;
  background-size: fit;
  border-bottom: 1px solid var(--color-text);
  grid-area: header;
  padding-left: 4rem;
  @include white-space();

  h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0;

    small {
      display: block;
      font-size: 1.25rem;
      font-weight: normal;
      margin: 0 0 .5rem;
      padding: 0;
      
      &:last-child {
        margin: 0;
      }
    }
  }
}

section {
  display: grid;
  grid-template-columns: 20rem 21rem;
  grid-column-gap: 1rem;
  align-items: start;

  @media screen and (max-width: $mobileBreakpoint) {
    display: block;
  }
}

h2 {
  color: var(--color-text-sec);
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 .5rem;
  padding: 0 0 .5rem;
  border-bottom: 1px dotted;
}

p {
  color: inherit;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-rows: 1.7rem auto;
  grid-template-columns: 100%;
  grid-row-gap: 1rem;
  align-items: start;

  margin: .5rem 0 0;
  width: 100%;

  &:first-child {
    grid-area: col-1;
  }
  &:last-child {
    grid-area: col-2;
  }
  > h2 {
    margin-bottom: -.5rem;
    padding-bottom: .5rem;
  }
  > p {
    display: grid;
    grid-template: 
      "label input" 1.5rem
      "help  help"  auto
      / auto 9rem;

    & > span, & > label {
      // outline: 1px dotted red;

      &:first-child {
        font-weight: 500;
        grid-area: label;
        padding-right: 1rem;
        min-width: 10rem;
        white-space: nowrap;

      }
      &:last-child {
        grid-area: input;
      }
    }
    & > small {
      display: block;
      font-weight: normal;
      font-size: .857rem;
      grid-area: help;
      margin-top: .125rem;
      white-space: normal;
    }

    & > span.input {
      text-align: start;
      @include white-space();
    }
    
    input#checkInterval {
      width: 1.25rem;
      text-align: center;
    }
  }

  &:hover, &:focus-within {
    h2 {
      color: var(--color-text);
    }
  }
}

footer {
  border-top: 1px solid var(--color-text);
  margin-top: .5rem;
  padding-top: 1rem;
  grid-area: footer;

  b {
    font-weight: 500;
    color: var(--color-text-sec);
  }
}

.nowrap {
  white-space: nowrap;
}
.semibold {
  font-weight: 500;
}

/* Text-like inputs */
input:not([type=checkbox]):not([type=radio]):not([type=range]), select, textarea {
  background-color: var(--color-ctrl);
  border: 0;
  border-bottom: 1px solid var(--color-brdr);
  color: var(--color-text);
  font-family: $font-family;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 .25rem;
  position: relative; /* Keeps the input from moving when focused (bottom border gets thicker). */

  &:focus {
    background-color: var(--color-ctrl-focus);
    border-bottom-width: 2px;
    font-weight: 500;
    outline: 0;
  }
  &:invalid {
    background-color: var(--color-ctrl-invalid);
    border-bottom-color: var(--color-error);
    color: var(--color-error);
  }
  &::selection {
    background-color: var(--color-ctrl-on);
  }
}

/* Toggle switch (styled checkbox) input */
.input-toggle {
  --radius: 5px;
  line-height: 1.5;

  > input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

  // Toggle track (losenge).
  > label {
    background: var(--color-ctrl);
    border: 1px solid var(--color-brdr);
    border-radius: var(--radius);
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    top: .25rem;
    // left: calc(100% - 2.25rem);
    width: 2rem;
    height: 1rem;

    // Toggle knob/thumb (in the default off position).
    &::after {
      background: var(--color-ctrl);
      border: 1px solid var(--color-brdr);
      border-radius: var(--radius);
      box-sizing: content-box;
      content: '';
      transition: 0.3s;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 1rem;
      height: 1rem;
    }
  }

  // Toggle knob/thumb in the on position.
  > input:checked + label::after {
    background-color: var(--color-ctrl-on);
    left: calc(100% - 1px);
    transform: translateX(calc(-100% + 2px));
  }

  // Focussed state.
  > input:focus + label {
    background-color: var(--color-ctrl-focus);
    box-shadow: 0 0 0 1px var(--color-ctrl-on);
  }

  // Disabled state.
  input:disabled + label {
    cursor: not-allowed;
    opacity: 50%;
    opacity: .5;

    &::after {
      background-color: var(--color-ctrl);
    }
  }
}
